<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% if title %}{{ title }} | moviedb{% else%}moviedb{% endif %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>

<body>

  <!-- Notifications -->
  {% include '_toast.html' %}

  <!-- make nav and header sticky -->
  <div class="sticky-top">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <div class="container">
        <a class="navbar-brand font-weight-bolder" href="{{ url_for('main.home') }}">movie<span
            class="text-primary">db</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link {% block nav_home %}{% endblock %}" href="{{ url_for('main.home') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% block nav_movies %}{% endblock %}" href="{{ url_for('main.movies') }}">Movies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% block nav_cast %}{% endblock %}" href="#">Cast</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% block nav_people %}{% endblock %}" href="{{ url_for('main.people') }}">People</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Profile
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li> -->
          </ul>
          <ul class="navbar-nav d-md-flex align-items-md-center">
            <li class="nav-item">
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
              </form>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="position: relative;">
                <div class="d-inline position-relative">
                  <span class="badge badge-pill badge-danger px-1"
                    style="position: absolute; top:-4px; left: 50%;">99</span>
                  <i class="fa fa-bell fa-lg" aria-hidden="true"></i>
                  <!-- <span class="d-md-none">Notifications </span> -->
                </div>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>
                <!-- d-none d-md-inline -->
                <!-- <span class="d-md-none">User</span> -->
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{{ url_for('main.user', username=current_user.username) }}">Details</a>
                <a class="dropdown-item" href="#">Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <div class="container-fluid bg-white pb-2 pt-3 shadow-sm">
      <div class="container">
        <div class="d-flex justify-content-between">
          {% block header %}
          {% endblock %}
        </div>
      </div>
    </div>

  </div>

  <!-- Main content -->
  <div class="container-fluid pt-3">
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </div>


  <!-- javascript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
  <script src="{{ url_for('static', filename='typeahead.bundle.min.js') }}"></script>
  {{ moment.include_moment() }}

  <script>
    $(document).ready(function () {
      // activate toasts
      $('.toast').toast({ delay: 10000 });
      $('.toast').toast('show');
    });
  </script>

  {% block script %}
  {% endblock %}

</body>

</html>