{% from 'bootstrap/form.html' import render_form_row %}
{% extends "base.html" %}

{% block header %}
<nav aria-label="breadcrumb" class="text-muted">
    <a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a> / Edit
</nav>
<div class="d-flex justify-content-between">
    <h3>{{ current_user.username }}</h3>
</div>
{% endblock %}

{% block content %}
<h1>Edit Profile</h1>
<form action="" method="post">
    {{ form.csrf_token() }}
    {{ render_form_row([form.username]) }}
    {{ render_form_row([form.about_me]) }}
    {{ render_form_row([form.submit]) }}
</form>
{% endblock %}