{% extends "base.html" %}

{% block nav_movies %}active{% endblock %}

{% block header %}
<h3>
  {% if movie %}
  Edit Movie: {{ movie.displayname }}
  {% else %}
  Create Movie
  {% endif %}
</h3>
{% endblock %}

{% block content %}
<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        {{ form.title.label() }}
        {{ form.title(class_="form-control") }}
        {% for error in form.title.errors %}
        <div style="color: red;">[{{ error }}]</div>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.director.label() }}
        {{ form.director(class_="form-control") }}
        {% for error in form.director.errors %}
        <div style="color: red;">[{{ error }}]</div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        {{ form.year.label() }}
        {{ form.year(class_="form-control") }}
        {% for error in form.year.errors %}
        <div style="color: red;">[{{ error }}]</div>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.category.label() }}
        {{ form.category(class_="form-control") }}
        {% for error in form.category.errors %}
        <div style="color: red;">[{{ error }}]</div>
        {% endfor %}
      </div>
    </div>
    <div class="col-12 form-group">
      {{ form.plot_summary.label() }}
      {{ form.plot_summary(class_="form-control") }}
      {% for error in form.plot_summary.errors %}
      <div style="color: red;">[{{ error }}]</div>
      {% endfor %}
    </div>
    <div class="col-md-6">
      <div class="form-group">
        {{ form.certificate.label() }}
        {{ form.certificate(class_="form-control") }}
        {% for error in form.certificate.errors %}
        <div style="color: red;">[{{ error }}]</div>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.rating_value.label() }}
        {{ form.rating_value(class_="form-control") }}
        {% for error in form.rating_value.errors %}
        <div style="color: red;">[{{ error }}]</div>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.rating_count.label() }}
        {{ form.rating_count(class_="form-control") }}
        {% for error in form.rating_count.errors %}
        <div style="color: red;">[{{ error }}]</div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        {{ form.runtime.label() }}
        {{ form.runtime(class_="form-control") }}
        {% for error in form.runtime.errors %}
        <div style="color: red;">[{{ error }}]</div>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.release_date.label() }}
        {{ form.release_date(class_="form-control") }}
        {% for error in form.release_date.errors %}
        <div style="color: red;">[{{ error }}]</div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="form-group">
    {{ form.poster_url.label() }}
    {{ form.poster_url(class_="form-control") }}
    {% for error in form.poster_url.errors %}
    <div style="color: red;">[{{ error }}]</div>
    {% endfor %}
  </div>
  <div class="form-group">
    {{ form.url.label() }}
    {{ form.url(class_="form-control") }}
    {% for error in form.url.errors %}
    <div style="color: red;">[{{ error }}]</div>
    {% endfor %}
  </div>
  <div class="text-right">
    {% if movie %}
    <a href="{{ url_for('main.movie', id=movie.id) }}" class="btn btn-secondary">Cancel</a>
    {{ form.submit(class_="btn btn-primary", value="Save") }}
    {% else %}
    <a href="{{ url_for('main.movies') }}" class="btn btn-secondary">Cancel</a>
    {{ form.submit(class_="btn btn-primary", value="Save") }}
    {{ form.submit(class_="btn btn-primary", value="Save and New") }}
    {% endif %}
  </div>
</form>
{% endblock %}

{% block script %}
{% endblock %}