{% extends "base.html" %}

{% block nav_movies %}active{% endblock %}

{% block header %}
<div>
  <h3>{{ movie.displayname }}</h3>
  <p class="small text-muted">{{ movie.category}} | {{ movie.director }} | {{ movie.runtime }} min | <i
      class="fa fa-star" aria-hidden="true"></i> {{ movie.rating_value }} </p>
</div>
<div class="d-flex align-items-center">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 100%">
      Menu
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
  <a href="{{ url_for('main.delete_movie', id=movie.id) }}" class="btn btn-secondary ml-1 btn-sm">
    <i class="fa fa-trash-o" aria-hidden="true"></i>
    Delete
  </a>
  <a href="{{ url_for('main.edit_movie', id=movie.id) }}" class="btn btn-primary ml-1 btn-sm">
    <i class="fa fa-pencil" aria-hidden="true"></i>
    Edit
  </a>
</div>
{% endblock %}

{% block content %}
<!-- Overview -->
<div class="card mb-3">
  <div class="card-header bg-white d-flex align-items-center py-3">
    <h6 class="text-dark font-weight-bold mb-0">
      Overview
    </h6>
  </div>
  <dl class="card-body mb-0">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-4">
          <dt class="text-muted font-weight-normal">Title</dt>
          <dd>{{ movie.title }}</dd>
        </div>
        <div class="mb-4">
          <dt class="text-muted font-weight-normal">Year</dt>
          <dd>{{ movie.year }}</dd>
        </div>
        <div class="mb-4">
          <dt class="text-muted font-weight-normal">Director</dt>
          <dd>{{ movie.director }}</dd>
        </div>
        <div class="mb-4">
          <dt class="text-muted font-weight-normal">Category</dt>
          <dd>{{ movie.category }}</dd>
        </div>
        <div class="mb-4">
          <dt class="text-muted font-weight-normal">Certificate</dt>
          <dd>{{ movie.certificate }}</dd>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-4">
          <dt class="text-muted font-weight-normal">Poster</dt>
          <dd>
            <img src="{{ movie.poster_url }}" alt="">
          </dd>
        </div>
      </div>
    </div>
    <div class="mb-4">
      <dt class="text-muted font-weight-normal">Plot summary</dt>
      <dd>{{ movie.plot_summary }}</dd>
    </div>
    <div class="mb-4">
      <dt class="text-muted font-weight-normal">URL</dt>
      <dd><a href="{{ movie.url }}" target="_blank">{{ movie.url }}</a></dd>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="mb-4">
          <dt class="text-muted font-weight-normal">Runtime</dt>
          <dd>{{ movie.runtime }} min</dd>
        </div>
        <div class="mb-4">
          <dt class="text-muted font-weight-normal">Release date</dt>
          <dd>{{ movie.release_date }}</dd>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-4">
          <dt class="text-muted font-weight-normal">Rating</dt>
          <dd>{{ movie.rating_value }}</dd>
        </div>
        <div class="mb-4">
          <dt class="text-muted font-weight-normal">Number of ratings</dt>
          <dd>{{ movie.rating_count }}</dd>
        </div>
      </div>
    </div>
  </dl>
</div>

<!-- Cast -->
<div class="card mb-3">
  <div class="card-header bg-white d-flex align-items-center py-3">
    <h6 class="text-dark font-weight-bold mb-0">
      Cast
    </h6>
  </div>
  <div class="card-body mb-0">
    <table id="table" data-toggle="table" data-url="{{ url_for('main.characters_json') }}"
      data-sort-name="order" data-sort-order="asc"
      data-page-list="[10, 25, 50, 100]" data-icon-size="sm" data-pagination="true" data-query-params="queryParams" data-side-pagination="server" >
      <!-- data-side-pagination="server" -->
      <thead class="text-muted">
        <tr>
          <th data-field="order" data-sortable="true" data-width="40">#</th>
          <th data-field="actor_name" data-formatter="actorLinkFormatter" data-sortable="true">Actor</th>
          <th data-field="character_name" data-sortable="true">Character</th>
        </tr>
      </thead>
    </table>
  </div>
</div>

<!-- Review -->
<div class="card mb-3">
  <div class="card-header bg-white d-flex align-items-center py-3">
    <h6 class="text-dark font-weight-bold mb-0">
      <i class="fa fa-comments" aria-hidden="true"></i>
      Reviews
      <span class="badge badge-info">32</span>
    </h6>
  </div>
  <div class="card-body">
    <div class="media mb-3">
      <a href="#" class="rounded-circle mr-3 mt-1 overflow-hidden">
        <img height="48px" width="48px"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
          alt="...">
      </a>
      <div class="media-body">
        <div class="mt-0 mb-1 small text-dark">
          <span class="font-weight-bold">John Doe</span>
          <span class="ml-2">2 minutes ago</span>
        </div>
        <div class="">
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
          purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
          vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </div>
    </div>

    <div class="media mb-3">
      <a href="#" class="rounded-circle mr-3 mt-1 overflow-hidden">
        <img height="48px" width="48px"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
          alt="...">
      </a>
      <div class="media-body">
        <div class="mt-0 mb-1 small text-dark">
          <span class="font-weight-bold">John Doe</span>
          <span class="ml-2">2 minutes ago</span>
        </div>
        <div class="">
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
          purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
          vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </div>
    </div>

    <div class="media mb-3">
      <a href="#" class="rounded-circle mr-3 mt-1 overflow-hidden">
        <img height="48px" width="48px"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
          alt="...">
      </a>
      <div class="media-body">
        <div class="mt-0 mb-1 small text-dark">
          <span class="font-weight-bold">John Doe</span>
          <span class="ml-2">2 minutes ago</span>
        </div>
        <div class="">
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
          purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
          vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </div>
    </div>

    <nav class="mt-3" aria-label="Page navigation example">
      <ul class="pagination pagination-sm justify-content-between mb-0">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>

  </div>

  <div class="border-top card-body">
    <div class="media">
      <img height="48px" width="48px"
        src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
        class="rounded-circle mr-3" alt="...">
      <div class="media-body">
        <form action="">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Your review"></textarea>
          <!-- <input type="text" class="form-control mr-sm-2" id="exampleFormControlInput1"
                        placeholder="Leave a comment"> -->
          <button type="submit" class="btn btn-primary mt-2 float-right btn-sm">Submit</button>
        </form>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block script %}
<script>
  function actorLinkFormatter(value, row, index) {
    return [
    '<div class="media">',
    '  <img src="', row.actor_image, '" class="align-self-center mr-3" alt="Poster" style="height:48px;">',
    '  <div class="media-body align-self-center">',
    '    <a href="/people/', row.actor_id, '" title="Show details">', value, '</a>',
    '  </div>',
    '</div>',
    ].join('')
  }

  function queryParams(params) {
    params.movie_id = {{ movie.id }}
    return params
  }

  $(document).ready(function () {
    var $table = $('#table')
    // remove vertical borders
    $table.bootstrapTable('refreshOptions', {
      classes: 'table table-hover bg-white table-sm'
    })
  });
</script>
{% endblock %}