{% extends "base.html" %}

{% block nav_movies %}active{% endblock %}

{% block header %}
<h3>{{ title }}</h3>
<div class="d-flex align-items-center">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false" style="height: 100%">
      Menu
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Export .csv</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
  <button id="myBtn" class="btn btn-secondary ml-1 btn-sm">
    <i class="fa fa-refresh" aria-hidden="true"></i>
    Refresh
  </button>
  <a href="{{ url_for('main.movie_create') }}" class="btn btn-primary ml-1 btn-sm">
    <i class="fa fa-plus-square" aria-hidden="true"></i>
    Create
  </a>
</div>
{% endblock %}

{% block content %}
<!-- <div id="filters">
  <button class="btn btn-secondary btn-sm" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
    aria-controls="collapseExample">
    Add Filter
  </button>
  <button class="btn btn-secondary btn-sm" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
    aria-controls="collapseExample">
    Clear Filters
  </button>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary btn-sm">Text ~ Batman</button>
    <button type="button" class="btn btn-primary btn-sm">&times;</button>
  </div>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary btn-sm">Year > 1995</button>
    <button type="button" class="btn btn-primary btn-sm">&times;</button>
  </div>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary btn-sm">Category = Action</button>
    <button type="button" class="btn btn-primary btn-sm">&times;</button>
  </div>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary btn-sm">Rating > 8.5</button>
    <button type="button" class="btn btn-primary btn-sm">&times;</button>
  </div>
</div>
<div class="collapse" id="collapseExample">
  <form class="mt-2">
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control form-control-sm" placeholder="Field">
      </div>
      <select class="col col-sm-3 custom-select custom-select-sm">
        <option selected>Select Operator</option>
        <option value="1">Equal</option>
        <option value="2">Contains</option>
        <option value="3">Greater or Equal</option>
        <option value="4">Smaller or Equal</option>
        <option value="4">Between</option>
      </select>
      <div class="col col-sm-4">
        <input type="text" class="form-control form-control-sm" placeholder="Value">
      </div>
      <div class="col col-sm-auto">
        <button class="btn btn-primary btn-sm">Apply</button>
        <button class="btn btn-link btn-sm">Remove</button>
      </div>
    </div>
  </form>
</div> -->
<div id="toolbar" class="form-row">
  <!-- <button id="btnGetSelected" class="btn btn-secondary btn-sm">getSelections</button> -->
  <div class="col col-auto">
    <input id="searchInput" type="text" class="form-control form-control-sm" placeholder="Search">
  </div>
  <div class="col col-auto">
    <input id="titleInput" type="text" class="form-control form-control-sm" placeholder="Title">
  </div>
  <div class="col col-auto">
    <select id="selectCategory" class="custom-select custom-select-sm">
      <option selected>Select Category</option>
      <option>Action</option>
      <option>Adventure</option>
      <option>Animation</option>
      <option>Biography</option>
      <option>Comedy</option>
      <option>Crime</option>
      <option>Drama</option>
      <option>Film-Noir</option>
      <option>Horror</option>
      <option>Mystery</option>
      <option>Western</option>
    </select>
  </div>
  <div id="directorTypeahead" class="col col-auto">
    <input id="directorInput" type="text" class="typeahead form-control form-control-sm" placeholder="Director">
  </div>
  <div class="input-group col">
    <select id="sortFieldSelect" class="custom-select custom-select-sm" aria-label="Field to sort by">
      {% for f in sortable %}
      <option value="{{ f.field }}">{{ f.title }}</option>
      {% endfor %}
      <option value="modified_timestamp" selected>Last modified</option>
      <option value="score">Search score</option>
    </select>
    <div class="input-group-append">
      <button id="sortOrderButton" class="btn btn-secondary btn-sm"><i class="fa fa-arrow-down"></i></button>
    </div>
  </div>
</div>
<table id="table" data-url="{{ url_for('main.api', doctype=doctype) }}" data-show-columns="true"
  data-page-list="[10, 25, 50, 100]" data-icon-size="sm" data-pagination="true" data-side-pagination="server"
  data-show-refresh="true" data-toolbar="#toolbar" data-query-params="queryParams">
  <!-- data-search="true" data-sort-name="rating_value" data-sort-order="desc"-->
</table>
{% endblock %}

{% block script %}
<!-- <script src="{{url_for('static', filename='table_utils.js')}}"></script> -->
<script>
  var $table = $('#table')
  var $selectCategory = $('#selectCategory')
  var $directorTypeahead = $('#directorTypeahead')
  var $directorInput = $('#directorInput')
  var $searchInput = $('#searchInput')
  var $titleInput = $('#titleInput')
  var $sortOrderButton = $('#sortOrderButton')
  var $sortFieldSelect = $('#sortFieldSelect')
  var sortOrder = "desc"

  // cell formatters
  function favFormatter(value, row, index) {
    return [
      '<a class="like text-secondary" href="javascript:void(0)" title="Like">',
      '<i class="fa fa-heart fa-sm"></i>',
      '</a>'
    ].join('')
  }
  function imageLinkFormatter(value, row, index) {
    return [
      '<div class="media">',
      '  <img src="', row.default_image_url, '" class="align-self-center mr-2" alt="Poster" style="height:48px;">',
      '  <div class="media-body align-self-center">',
      '    <a href="/movie/', row.id, '" title="Show details">', value, '</a>',
      '  </div>',
      '</div>',
    ].join('')
  }
  function lastModFormatter(value, row, index) {
    return moment(value).fromNow();
    // return value
  }

  function toggleSortOrder() {
    if (sortOrder == "asc") {
      sortOrder = "desc"
    } else {
      sortOrder = "asc"
    }
    $sortOrderButton.children("i").toggleClass("fa-arrow-up fa-arrow-down")
  }

  function queryParams(params) {
    // get filter options
    var filter = {};
    var category = $("#selectCategory option:selected").text();
    if (category != "Select Category") {
      filter["category"] = category
    }
    var director = $directorInput.val()
    if (director != "") {
      filter["director"] = director
    }
    if (!$.isEmptyObject(filter)) {
      params.filter = JSON.stringify(filter)
    }
    // get search fields
    var sortField = $sortFieldSelect.val()
    if (sortField != "score") {
      params.sort = sortField
    }
    var searchValue = $searchInput.val()
    if (searchValue != "") {
      params.search = searchValue
    }
    var titleValue = $titleInput.val()
    if (titleValue != "") {
      var jsonobj = [{ "title": titleValue }]
      params.match = JSON.stringify(jsonobj)
    }
    params.order = sortOrder
    return params
  }

  function tableRefresh() {
    $table.bootstrapTable('refresh', {
      'offset': 0
    })
  }

  function tableRefreshSearch(searchValue) {
    if (sortOrder == "asc") { toggleSortOrder() }
    if (searchValue != "") {
      $sortFieldSelect.val("score")
    } else {
      $sortFieldSelect.val("modified_timestamp")
    }
    tableRefresh()
  }

  $(function () {
    const columns = {{ columns | tojson
  }};

  // init table
  $table.bootstrapTable({
    columns: columns
  })

  // remove vertical borders
  $table.bootstrapTable('refreshOptions', {
    classes: 'table table-hover bg-white table-sm',
    theadClasses: 'text-muted',
    icons: {
      "refresh": "fa-refresh",
      "columns": "fa-th-list"
    }
  })

  // typeahead
  var directors = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    // url points to a json file that contains an array of country names, see
    // https://github.com/twitter/typeahead.js/blob/gh-pages/data/countries.json
    prefetch: "{{ url_for('main.unique_directors') }}"
  });

  // passing in `null` for the `options` arguments will result in the default
  // options being used
  $('#directorInput').typeahead({
    hint: true,
    highlight: true,
    minLength: 1
  }, {
    name: 'directors',
    source: directors
  });

  $searchInput.change(() => tableRefreshSearch($searchInput.val()))
  $titleInput.change(() => tableRefreshSearch($titleInput.val()))
  $directorInput.change(() => tableRefresh())
  $selectCategory.change(() => tableRefresh())
  $sortFieldSelect.change(() => tableRefresh())
  $sortOrderButton.click(function () {
    toggleSortOrder()
    tableRefresh()
  })
  })

</script>
{% endblock %}