{% extends "base.html" %}
{% block nav_movies %}active{% endblock %}
{% block header %}
<div class="lg:flex lg:items-center lg:justify-between">
  <div class="flex-1 min-w-0">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">
      Movies
    </h2>
  </div>
  <div class="mt-5 flex lg:mt-0 lg:ml-4">
    <span class="hidden sm:block shadow-sm rounded-md">
      <button type="button" class="inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:text-gray-800 active:bg-gray-50 transition duration-150 ease-in-out">
        <svg class="-ml-1 mr-2 h-5 w-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20">
          <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"/>
        </svg>
        Import
      </button>
    </span>

    <span class="hidden sm:block ml-3 shadow-sm rounded-md">
      <a href="{{ url_for('movies_export', order_by=order_by, sort=sort) }}" type="button" class="inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:text-gray-800 active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out">
        <svg class="-ml-1 mr-2 h-5 w-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20">
          <path fill-rule="evenodd" d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z" clip-rule="evenodd"/>
        </svg>
        Export
      </a>
    </span>

    <span class="sm:ml-3 shadow-sm rounded-md">
      <a href="{{ url_for('movie_create') }}" type="button" class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-700 active:bg-indigo-700 transition duration-150 ease-in-out">
        <svg class="-ml-1 mr-2 h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
          <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"/>
        </svg>
        New
      </a>
    </span>

    <!-- Dropdown -->
    <span class="ml-3 relative shadow-sm rounded-md sm:hidden">
      <button type="button" class="inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:shadow-outline focus:border-blue-300 transition duration-150 ease-in-out" id="mobile-menu" aria-haspopup="true">
        More
        <svg class="-mr-1 ml-2 h-5 w-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20">
          <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"/>
        </svg>
      </button>

      <!--
        Dropdown panel, show/hide based on dropdown state.

        Entering: "transition ease-out duration-200"
          From: "transform opacity-0 scale-95"
          To: "transform opacity-100 scale-100"
        Leaving: "transition ease-in duration-75"
          From: "transform opacity-100 scale-100"
          To: "transform opacity-0 scale-95"
      -->
      <div class="origin-top-right absolute right-0 mt-2 -mr-1 w-48 rounded-md shadow-lg" aria-labelledby="mobile-menu" role="menu">
        <div class="py-1 rounded-md bg-white shadow-xs">
          <a href="#" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out" role="menuitem">Edit</a>
          <a href="#" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out" role="menuitem">View</a>
        </div>
      </div>
    </span>
  </div>
</div>
{% endblock %}
{% block content %}
<!-- Toggle sort for column headers -->
{% if sort == 'desc' %}
{% set new_sort = 'asc' %}
{% else %}
{% set new_sort = 'desc' %}
{% endif %}

<div class="-mt-4 px-4 py-3 flex items-center justify-between border-gray-200 sm:px-6">
  <p class="text-sm leading-5 text-gray-700">
    Showing
    <span class="font-medium">{{ (movies.page - 1) * movies.per_page + 1 }}</span>
    to
    <span class="font-medium">{{ movies.page * movies.per_page }}</span>
    of
    <span class="font-medium">{{ movies.total }}</span>
    results
  </p>
</div>

<div class="flex flex-col">
  <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
    <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
      <table class="min-w-full">
        <thead>
          <tr>
            <th data-href="{{ url_for('movies', order_by='title', sort=new_sort) }}" class="cursor-pointer">
              <a href="{{ url_for('movies', order_by='title', sort=new_sort) }}">Title
                {% if order_by == 'title' %}
                {% if sort == 'desc' %}&#9662;{% else %}&#9652;{% endif %}
                {% endif %}
              </a>
            </th>
            <th data-href="{{ url_for('movies', order_by='rating_value', sort=new_sort) }}" class="cursor-pointer">
              <a href="{{ url_for('movies', order_by='rating_value', sort=new_sort) }}">Rating
                {% if order_by == 'rating_value' %}
                {% if sort == 'desc' %}&#9662;{% else %}&#9652;{% endif %}
                {% endif %}
              </a>
            </th>
            <th data-href="{{ url_for('movies', order_by='category', sort=new_sort) }}" class="cursor-pointer">
              <a href="{{ url_for('movies', order_by='category', sort=new_sort) }}">Category
                {% if order_by == 'category' %}
                {% if sort == 'desc' %}&#9662;{% else %}&#9652;{% endif %}
                {% endif %}
              </a>
            </th>
            <th data-href="{{ url_for('movies', order_by='certificate', sort=new_sort) }}" class="cursor-pointer">
              <a href="{{ url_for('movies', order_by='certificate', sort=new_sort) }}">Certificate
                {% if order_by == 'certificate' %}
                {% if sort == 'desc' %}&#9662;{% else %}&#9652;{% endif %}
                {% endif %}
              </a>
            </th>
            <th data-href="{{ url_for('movies', order_by='year', sort=new_sort) }}" class="cursor-pointer">
              <a href="{{ url_for('movies', order_by='year', sort=new_sort) }}">Year
                {% if order_by == 'year' %}
                {% if sort == 'desc' %}&#9662;{% else %}&#9652;{% endif %}
                {% endif %}
              </a>
            </th>
            <th data-href="{{ url_for('movies', order_by='runtime', sort=new_sort) }}" class="cursor-pointer">
              <a href="{{ url_for('movies', order_by='runtime', sort=new_sort) }}">Runtime (min)
                {% if order_by == 'runtime' %}
                {% if sort == 'desc' %}&#9662;{% else %}&#9652;{% endif %}
                {% endif %}
              </a>
            </th>
          </tr>
        </thead>
        <tbody class="bg-white">
          {% for movie in movies.items %}
          <tr>
            <td data-href="{{ url_for('movie', id=movie.id) }}" class="cursor-pointer">
              <div class="flex items-center">
                <div class="flex-shrink-0 h-16">
                  <img class="h-16"
                    src="{{ movie.poster_url }}"
                    alt="" />
                </div>
                <div class="ml-4">
                  <div><a href="{{ url_for('movie', id=movie.id) }}" class="inline-link">{{ movie.title }}</a></div>
                </div>
              </div>
            </td>
            <td>
              <div>{{ movie.rating_value }}</div>
            </td>
            <td>
              <div>{{ movie.category }}</div>
            </td>
            <td>
              <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                {{ movie.certificate }}
              </span>
            </td>
            <td>
              {{ movie.year }}
            </td>
            <td>
              {{ movie.runtime }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="px-4 py-3 flex items-center justify-between border-gray-200 sm:px-6">
  <div class="flex-1 flex justify-between sm:hidden">
    <a href="#"
      class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
      Previous
    </a>
    <a href="#"
      class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
      Next
    </a>
  </div>
  <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
    <div>
      <p class="text-sm leading-5 text-gray-700">
        Showing
        <span class="font-medium">{{ (movies.page - 1) * movies.per_page + 1 }}</span>
        to
        <span class="font-medium">{{ movies.page * movies.per_page }}</span>
        of
        <span class="font-medium">{{ movies.total }}</span>
        results
      </p>
    </div>
    <div>
      <span class="relative z-0 inline-flex shadow-sm">
        {% if prev_url %}
        <a type="button" href="{{ prev_url }}"
          class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150">
          <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd"
              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
              clip-rule="evenodd" />
          </svg>
        </a>
        {% else %}
        <button type="button" disabled
          class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150 opacity-50 cursor-not-allowed">
          <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd"
              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
              clip-rule="evenodd" />
          </svg>
        </button>
        {% endif %}
        <button type="button"
          class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
          1
        </button>
        <button type="button"
          class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
          2
        </button>
        <button type="button"
          class="hidden md:inline-flex -ml-px relative items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
          3
        </button>
        <span
          class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700">
          ...
        </span>
        <button type="button"
          class="hidden md:inline-flex -ml-px relative items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
          8
        </button>
        <button type="button"
          class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
          9
        </button>
        <button type="button"
          class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
          10
        </button>
        {% if next_url %}
        <a type="button"
          href="{{ next_url }}"
          class="-ml-px relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150">
          <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd" />
          </svg>
        </a>
        {% else %}
        <button type="button" disabled
          class="-ml-px relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150 opacity-50 cursor-not-allowed">
          <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd" />
          </svg>
        </button>
        {% endif %}
      </span>
    </div>
  </div>
</div>

<!-- Script to make rows clickable -->
<script>
// Link to Movie details page
$('td[data-href]').on("click", function() {
  document.location = $(this).data('href');
});
// Link to sort list on column
$('th[data-href]').on("click", function() {
  document.location = $(this).data('href');
});
</script>

{% endblock %}