{% extends "base.html" %}
{% block title %}
Movie
{% endblock %}
{% block content %}
<a href="{{ url_for('movies') }}">Movies</a>
<h1>{{ movie.displayname }}</h1>
<p>
    {% if movie.created_by %}
    Created by {{ movie.created_by.username }}, {{ moment(movie.created_timestamp).format('LLL') }}<br>
    {% endif %}
    {% if movie.modified_by %}
    Last modified by {{ movie.modified_by.username }}, {{ moment(movie.modified_timestamp).format('LLL') }}<br>
    {% endif %} 
</p>
<p>
    <a href="{{ url_for('edit_movie', id=movie.id) }}">Edit movie</a> 
    <a href="{{ url_for('delete_movie', id=movie.id) }}">Delete movie</a> 
</p>
<p>
    <strong>Title</strong><br>
    {{ movie.title }}
</p>
<p>
    <strong>Year</strong><br>
    {{ movie.year }}
</p>
<!-- <p>
    <strong>Category</strong><br>
    {{ movie.category }}
</p> -->
<p>
    <strong>Director</strong><br>
    {{ movie.director }}
</p>
<p>
    <strong>Certificate</strong><br>
    {{ movie.certificate }}
</p>
<p>
    <strong>Plot summary</strong><br>
    {{ movie.plot_summary }} (Source: <a href="{{ movie.url }}" target="_blank">imdb.com</a>)
</p>
<p>
    <strong>Rating</strong><br>
    {{ movie.rating_value }}
</p>
<p>
    <strong>Runtime</strong><br>
    {{ movie.runtime }}
</p>
<p>
    <strong>Poster</strong><br>
    <img src="{{ movie.poster_url }}" alt="Poster">
</p>
{% endblock %}