{% extends "base.html" %}
{% block title %}
Movies
{% endblock %}
{% block content %}
<h1>Movies</h1>
<p>
    <a href="{{ url_for('movie_create') }}">New Movie</a>
</p>
<table>
    <th>
        <tr style="font-weight: bold;">
            <td>Title</td>
            <td>Year</td>
            <td>Description</td>
            <td>Stars</td>
        </tr>
    </th>
    <tbody>
        {% for movie in movies %}
        <tr>
            <td><a href="{{ url_for('movie', id=movie.id) }}">{{ movie.title }}</a></td>
            <td>{{ movie.year }}</td>
            <td>{{ movie.description|truncate(60) }}</td>
            <td>{{ movie.stars }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}