{% from 'bootstrap/form.html' import render_form_row %}

{% extends "base.html" %}

{% block css_include %}
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
  integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=="
  crossorigin="anonymous" />
{% endblock %}

{% block nav_movies %}active{% endblock %}

{% block header %}
<nav aria-label="breadcrumb" class="text-muted">
  <a href="{{ url_for('main.movies') }}">Movies</a> /
  {% if movie %} Edit {% else %} Create {% endif %}
</nav>
<div class="d-flex justify-content-between">
  <h3>
    {% if movie %} {{ movie.displayname }} {% else %} New Movie {% endif %}
  </h3>
</div>
{% endblock %}

{% block content %}
{% from 'bootstrap/form.html' import render_form_row %}

<form method="post" novalidate>
  {{ form.csrf_token() }}
  {{ render_form_row([form.title, form.year]) }}
  {{ render_form_row([form.certificate, form.category, form.director_name]) }}
  {{ render_form_row([form.release_date, form.release_country]) }}
  {{ render_form_row([form.plot_summary]) }}
  {{ render_form_row([form.rating_value, form.rating_count, form.runtime]) }}
  {{ render_form_row([form.poster_url]) }}
  {{ render_form_row([form.url]) }}
  {% if movie %}
  {{ render_form_row([form.submit]) }}
  {% else %}
  {{ render_form_row([form.submit, form.submit_and_new], col_class_default='col-auto') }}
  {% endif %}
</form>
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
  integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ=="
  crossorigin="anonymous"></script>
<script>
  $(function () {

    // INITIALIZE DATEPICKER PLUGIN
    $('#release_date').datepicker({
      clearBtn: true,
      format: "dd/mm/yyyy"
    });

  });
</script>
{% endblock %}