{% extends "base.html" %}
{% block nav_movies %}active{% endblock %}
{% block header %}
<h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">
  {% if movie %}
  Edit Movie: {{ movie.displayname }}
  {% else %}
  Create Movie
  {% endif %}
</h2>
{% endblock %}
{% block content %}
<div class="bg-gray-50 shadow overflow-hidden sm:rounded-lg">
  <form action="" method="post">
    {{ form.hidden_tag() }}
    {% for field in form %}
      <div class="px-4 py-2">
      {% if field.type == "BooleanField" %}
      {{ field }} {{ field.label }}
      {% elif field.type == "StringField" %}
      {{ field.label(class_="block text-gray-700 text-sm font-bold mb-2") }}
      {{ field(size=64, class_="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
      {% elif field.type == "TextAreaField" %}
      {{ field.label(class_="block text-gray-700 text-sm font-bold mb-2") }}
      {{ field(cols=64, rows=4, class_="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
      {% elif field.type == "DecimalField" %}
      {{ field.label(class_="block text-gray-700 text-sm font-bold mb-2") }}
      {{ field(class_="appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
      {% elif field.type == "IntegerField" %}
      {{ field.label(class_="block text-gray-700 text-sm font-bold mb-2") }}
      {{ field(class_="appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
      {% elif field.type == "DateField" %}
      {{ field.label(class_="block text-gray-700 text-sm font-bold mb-2") }}
      {{ field(class_="appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
      {% elif field.type == "SelectField" %}
      {{ field.label(class_="block text-gray-700 text-sm font-bold mb-2") }}
      {{ field(class_="form-select appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
      {% endif %}
      {% for error in field.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      </div>
    {% endfor %}
    <div class="px-4 py-5 text-right">
      {% if movie %}
      <a class="btn-indigo mr-1" href="{{ url_for('main.movie', id=movie.id) }}">Cancel</a>
      {% else %}
      <a href="{{ url_for('main.movies') }}" class="btn-white mr-1">Cancel</a>
      {% endif %}
      {{ form.submit(class_="btn-indigo") }}
    </div>
  </form>
</div>
{% endblock %}