{% from 'bootstrap/pagination.html' import render_pagination %}
{% extends "base.html" %}

{% block nav_people %}active{% endblock %}

{% block header %}
<nav aria-label="breadcrumb" class="text-muted">
  <a href="{{ url_for('main.people') }}">People</a> / List
</nav>
<div class="d-flex justify-content-between">
  <h3>People</h3>
  <div class="d-flex align-items-center">
    <a href="{{ url_for('main.create_person') }}" class="btn btn-primary ml-1 btn-sm">
      <i class="fa fa-plus-square" aria-hidden="true"></i>
      Create
    </a>
  </div>
</div>
{% endblock %}

{% block content %}
<form class="form-inline mb-2" method="get" action="{{ url_for('main.movies') }}">
  {{ search_form.q(size=20, class='form-control', placeholder=search_form.q.label.text) }}
</form>

<div class="row">
  {% for person in people.items %}
  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3">
    <div class="card shadow-sm h-100">
      <a href="{{ url_for('main.person', id=person.id) }}" class="">
        <img class="card-img-top img-opacity-hover w-100"
          src="{{ person.default_image_url.replace(',67,98',',214,317').replace('UX67','UX214').replace('UY98','UY317') }}"
          alt="">
      </a>
      <div class="card-body">
        <a href="{{ url_for('main.person', id=person.id) }}">{{ person.name|truncate(44) }}</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{{ render_pagination(people) }}
{% endblock %}

{% block script %}

{% endblock %}