{% from '_macros.html' import render_field %}

{% extends "base.html" %}

{% block nav_people %}active{% endblock %}

{% block header %}
<nav aria-label="breadcrumb" class="text-muted">
  <a href="{{ url_for('main.people') }}">People</a> / Details
</nav>
<input type=hidden id="itemId" value="{{ person.id }}">
<div class="d-flex justify-content-between">
  <h3>{{ person.name }}</h3>
  <div class="d-flex align-items-center">
    <a href="#" class="btn btn-secondary ml-1 btn-sm">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
      Delete
    </a>
    <a href="{{ url_for('main.edit_person', id=person.id) }}" class="btn btn-primary ml-1 btn-sm">
      <i class="fa fa-pencil" aria-hidden="true"></i>
      Edit
    </a>
  </div>
</div>
{% endblock %}

{% block content %}
<!-- Overview -->
<div class="card mb-3">
  <div class="card-header bg-white d-flex align-items-center py-3">
    <h6 class="text-dark font-weight-bold mb-0">
      Overview
    </h6>
  </div>
  <dl class="card-body mb-0">
    <div class="row">
      <div class="col-md-6">
        {{ render_field('Name', value=person.name) }}
        {{ render_field('Date of birth', value=moment(person.dob).format('LL')) }}
        {{ render_field('Birthname', value=person.birthname) }}
        {{ render_field('Height', value=person.height) }}
        {{ render_field('Source', value='IMDB', type='link', url=person.url) }}
      </div>
      <div class="col-md-6">
        {{ render_field('Image', value='Portrait', type='image', url=person.default_image_url.replace(',67,98',',214,317').replace('UX67','UX214').replace('UY98','UY317')) }}
      </div>
    </div>
    {{ render_field('Biographie', value=person.bio) }}
  </dl>
</div>

<!-- Cast -->
<div class="card mb-3">
  <div class="card-header bg-white d-flex align-items-center py-3">
    <h6 class="text-dark font-weight-bold mb-0">
      Roles
    </h6>
  </div>
  <div class="card-body mb-0">
    <table id="table" data-toggle="table" data-url="{{ url_for('main.person_roles', id=person.id) }}"
      data-page-list="[10, 25, 50, 100]" data-icon-size="sm" data-pagination="true" data-sort-name="movie_year"
      data-sort-order="desc" data-query-params="queryParams" data-side-pagination="server">
      <thead class="text-muted">
        <tr>
          <th data-field="movie_year" data-sortable="true">Year</th>
          <th data-field="movie_title" data-formatter="movieLinkFormatter" data-sortable="true">Movie</th>
          <th data-field="character_name" data-sortable="true">Character</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  function movieLinkFormatter(value, row, index) {
    return [
      '<div class="media">',
      '  <img src="', row.movie_image, '" class="align-self-center mr-3" alt="Poster" style="height:48px;">',
      '  <div class="media-body align-self-center">',
      '    <a href="/movie/', row.movie_id, '" title="Show details">', value, '</a>',
      '  </div>',
      '</div>',
    ].join('')
  }

  $(document).ready(function () {
    var $table = $('#table')
    // remove vertical borders
    $table.bootstrapTable('refreshOptions', {
      classes: 'table table-hover bg-white table-sm'
    })
  });
</script>
{% endblock %}