{% from '_macros.html' import render_field %}
{% extends "base.html" %}

{% block header %}
<nav aria-label="breadcrumb" class="text-muted">
  <a href="{{ url_for('main.users') }}">Users</a> / Details
</nav>
<div class="d-flex justify-content-between">
  <h3>{{ user.username }}</h3>
  {% if user == current_user %}
  <div class="d-flex align-items-center">
    <a href="{{ url_for('main.edit_profile') }}" class="btn btn-primary ml-1">Edit your profile</a>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block content %}
{{ render_field('Avatar', value=user.username, type='image', url=user.avatar(192)) }}
{% if user.about_me %}
{{ render_field('About me', value=user.about_me, type='markdown') }}
{% endif %}
{% if user.last_seen %}
{{ render_field('Last seen on', value=moment(user.last_seen).format('LLL') ) }}
{% endif %}
{% if user == current_user %}
{{ render_field('Email', value=user.email) }}
{% endif %}

{% endblock %}