{% from 'bootstrap/pagination.html' import render_pagination %}

{% extends "base.html" %}

{% block header %}
<nav aria-label="breadcrumb" class="text-muted">
    <a href="{{ url_for('main.users') }}">Users</a> / List
</nav>
<div class="d-flex justify-content-between">
    <h3>Users</h3>
</div>
{% endblock %}

{% block content %}
<div class="card w-100 mb-3">
    <ul class="list-group list-group-flush">
        {% for user in users.items %}
        <li class="list-group-item">
            <div class="media">
                <a href="{{ url_for('main.user', username=user.username) }}"
                    class="rounded-circle mr-3 mt-1 overflow-hidden">
                    <img height="48px" width="48px" src="{{ user.avatar(48) }}" alt="{{ user.username }}">
                </a>
                <div class="media-body">
                    <div class="mt-0 mb-1 text-dark">
                        <a class="link-unstyled" href="{{ url_for('main.user', username=user.username) }}">
                            <span class="font-weight-bold">{{ user.username }}</span>
                        </a>
                        <span class="ml-2">{{ moment( user.last_seen ).fromNow() }}</span>
                    </div>
                    {% if user.about_me %}
                    <div>
                        {{ user.about_me|truncate(140) }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{{ render_pagination(users) }}
{% endblock %}